.profile{
    height: 100vh;
    color: white;
}
.profilebody{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 8%;
    max-width: 800px;
}.profileinfo{
    display: flex;

}
.img{
    height: 100px;
    object-fit: cover;

}
.profilebody>h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}
.profile-detail{
    color: white;
    margin-left: 25px;
    flex: 1;
}
.profile-detail>h2{
    font-size: 15px;
    padding: 15px;
    padding-left: 20px;
    background-color: gray;

}
.profile-signout{
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: capitalize;
    margin-top: 5%;
    width: 100px;
    color: #fff;
    background-color: #e50914;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    
}
.profile-plan>h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}
.profile-plan{
    margin-top: 20px;
}
