.signupscreen{
   max-width: 300px;
   padding: 70px;
   margin-left: auto;
   margin-right: auto;
    background-color: rgba(0,0,0,0.85);
    border-radius: 8px;
    position: relative;
    bottom: 80px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}
.signin{
    position: relative;
    left: -85px;
    padding: 5px;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 25px;
}
input{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    height: 40px;
    border-radius: 7px;
    outline-width: 0;
    padding: 5px 15px;

}
.btn{
    position: relative;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    left: 8px;
    width: 110%;
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
}
h4{
    margin-left: -85px;
    margin-top: 10px;
}
.span-gray{
    color: gray;
}
.span-link:hover{
    cursor: pointer;
    text-decoration: underline;
}